<div class="container">

<div class="jumbotron mt-4 animated zoomIn text-center">
<h1>Bienvenidos a GrowShop San Luis</h1>
<h3>Aqui podras encontrar todo lo que tus cultivos necesitan.</h3>
<hr class="my-4 divider1">
<p>Adelante, no dudes en consultarnos por nuestros medios de contacto si tienes alguna duda</p>
<a href="/allproducts" class="btn btn-success btn-lg btn-block p-4">Ver Productos!</a>

</div>

</div>