  <footer id="sticky-footer" class="py-2 footer text-white-50">
    <div class="container text-center">
        <div class="row">
    <div class="col-md-4 d-none d-sm-block">
         <a href="https://www.facebook.com/growshopsanluis" class="nav-link" > <i class="fa fa-facebook-square" aria-hidden="true"></i> Growshop San Luis</a>
    
    </div>
    <div class="col-md-4 d-none d-sm-block">
        <a href="https://www.instagram.com/growshopsanluis/" class="nav-link"><i class="fa fa-instagram" aria-hidden="true"></i> growshopsanluis</a>
    
    </div>

    <div class="col-md-4 d-none d-sm-block">
        <a href="mailto:growshopsanluis@gmail.com?Subject=Consulta%20desde%20la%20web" class="nav-link"><i class="fa fa-envelope" aria-hidden="true"></i> growshopsanluis@gmail.com</a>
    
    </div>
    <div class="col-md-12 d-block d-sm-none">
         <a href="https://www.facebook.com/growshopsanluis" class="nav-link" > <i class="fa fa-facebook-square" aria-hidden="true"></i> </a>
     <a href="https://www.instagram.com/growshopsanluis/" class="nav-link"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
     <a href="mailto:growshopsanluis@gmail.com?Subject=Consulta%20desde%20la%20web" class="nav-link"><i class="fa fa-envelope" aria-hidden="true"></i> </a>
    
    
</div>
 
     
    
      

    </div>
</footer>